# Build and install directories
build/
install/
log/
log_*/

# Python-related
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
__pycache__/

# Editor-specific files
.project
.cproject
CMakeLists.txt.user
qtcreator-*
*.user
*~

# Emacs
.#*

# Temporary files
*.tmp
*.swp
*.bak
*.orig

# ROS2-specific
install_isolated/
build_isolated/
